body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
h1 {
    margin: 0px;
    background-color: #4670c8;
    color: white;
    padding: 0px .5em;
}
.content {
    margin: 1em;
}
.command {
    background-color: cornsilk;
    font-family: Courier New;
}
